@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;500;700&family=Poppins:wght@300;400;600;800&family=Roboto:wght@100;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.class-list {
    padding: 1rem;
    width: 100%;
}

.class-list-title {
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid #DDDDDD;
    font-weight: 500;
}

.sidebar {
    width: 200px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li {
    padding: 1rem;
    border-bottom: 1px solid #e6e7e8;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.sidebar li a {
    text-decoration: none;
    color: black;
    
}

.sidebar li.active {
    background-color: #33383c;
}
.sidebar li.active a {
    color: #cb1e40;
}